#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  background: linear-gradient(180deg, #000000 0%, #000000 35%, #666666 100%);
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #000000 0%, #000000 35%, #666666 100%);
}